<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Counter</title>
	</head>
	<body>
		<!-- <div id="root">
			<div class="App"> -->
				<div>
					<h2>Counter</h2>
					<span data-testid="count">Count 1</span><br /><button>
						Increment</button
					><button>Decrement</button><br /><br /><span
						data-testid="click"
						>Total 1 Click</span
					><br />
					<div>
						<input type="checkbox" id="checkbox-title" /><label
							for="checkbox-title"
							>Check to display count in document title</label
						>
					</div>
				</div>
			<!-- </div>
		</div> -->
	</body>
</html>
